* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
}

.left {
  width: 25vw;
  margin: 2px;
}

.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding-top: 16px;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: #121212;
  color: white;
}