@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.left {
  width: 25vw;
  margin: 2px;
}

.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding-top: 16px;
}

.library {
  height: 76vh;
  position: relative;
}

.lib-head {
  justify-content: space-between;
  padding: 0px 4px;
  padding-bottom: 4px;
}

.lib-logo {
  gap: 12px;
}

.plus {
  border: 0px solid red;
  border-radius: 18px;
  padding: 6px;
  transition: background-color .2s ease-in-out;
}

.plus:hover {
  background-color: #202020;
  transition: background-color .2s ease-in-out;
}

.links {
  gap: 8px;
  position: absolute;
  bottom: 10px;
}

.uls {
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
}

.uls li a {
  color: #b4b4b4;
  text-decoration: none;
  font-size: .60rem;
}

.capsule {
  text-decoration: none;
  color: white;
  border: .1px solid #b4b4b4;
  border-radius: 16px;
  width: 80px;
  gap: 4px;
  font-size: .9rem;
  padding: 4px 1px;
  margin-top: 20px !important;
}

.capsule:hover {
  border: 2px solid white;
  transform: scale(1.02);
}

.right {
  margin: 8px 8px 8px 0px;
  position: relative;
}

.right-head {
  background-color: #0c0c0c;
  justify-content: space-between;
  border: 1px solid #0c0c0c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.arrows {
  gap: 8px;
  margin-left: 16px;
}

.arrs {
  background-color: #070707;
  border: 1px solid #070707;
  border-radius: 16px;
}

.btns {
  gap: 20px;
  margin-right: 16px;
}

.sign-up {
  color: #b4b4b4;
  background-color: transparent;
  border: none;
}

.sign-up:hover {
  color: white;
}

.sign-up:active {
  color: #b4b4b4;
}

.log-in {
  border: none;
  height: 48px;
  width: 100px;
  border: 1px solid;
  border-radius: 32px;
}

.log-in:hover {
  transform: scale(1.02);
}

.log-in:active {
  background-color: #b4b4b4;
}

.spotifyPlaylists h1 {
  margin: 8px 16px 10px;
}

.spotifyPlaylists h1 a {
  text-decoration: none;
  color: white;
}

.spotifyPlaylists h1 a:hover {
  text-decoration: underline;
}

.cardContainer {
  gap: 10px;
  flex-wrap: wrap;
  max-height: 70vh;
  overflow-y: scroll;
}

.card {
  width: 200px;
  margin: 16px;
  position: relative;
  background-color: #191919;
  padding: 10px;
  border-radius: 8px;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  padding-top: 0px;
}

.card .play {
  background-color: #1ed760;
  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 25px;
  position: absolute;
  top: 200px;
  right: 8px;
  opacity: 0;
  transition: all .4s ease-out;
}

.card .play img {
  height: 40px;
}

.playbar {
  position: absolute;
  bottom: 5px;
  background-color: green;
  width: 100%;
  padding: 16px;
  gap: 160px;
}

.songbuttons {
  gap: 16px;
}