.border {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.fl-di-col {
  flex-direction: column;
}

.rounded {
  border: 1px solid #121212;
  border-radius: 8px;
}

.p12 {
  padding: 16px;
}

.p6 {
  padding: 6px;
}

.m7 {
  margin: 7px;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-gray {
  background-color: #121212;
  color: white;
}

.hover-glow {
  color: #b4b4b4;
  transition: color .2s ease-in-out;
}

.hover-glow:hover {
  color: white;
  transition: color .2s ease-in-out;
}

.cur-p {
  cursor: pointer;
}

/* Apply these styles to the entire document */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212; /* Dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 6px; /* Roundness of the scrollbar handle */
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovered */
}
